# Environments
venv/
env/
.env
.venv

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# NLP & Deep Learning Models
models/
!models/.gitkeep
*.pt
*.bin
*.ckpt
*.safetensors
*.h5
*.onnx

# Data & Logs
cache/
.cache/
data/*.csv
data/*.json
data/*.txt
data/**/*.zip
data/*.zip
!data/.gitkeep
logs/
*.log
storage/
frontend/node_modules/
frontend/dist/

# IDE & OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Docs artifacts & diagrams (not to be pushed)
docs/*.md
docs/*.xml
docs/*.doc
docs/*.txt


